.menu-card {
  .menu-card-container {
    display: flex;
    .menu-card-line {
      width: 10px;
      height: 10px;
      background-color: $primary-yellow;
      height: 140px;
      border-radius: 20px 0px 0px 20px;
    }

    .menu-card-content {
      z-index: 20;
      background-color: $grey-200;
      width: 100%;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 0px 20px 20px 0px;
      height: 100px;
      color: $primary-white;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 10px;
      }
    }
  }
}

@media (min-width: 600px) {
  .menu-card {
    .menu-card-container {
      .menu-card-content {
        width: 292px;
      }
    }
  }
}
