.restaurants {
  background-color: $grey-600;

  height: 100vh;
  position: relative;

  .grey-background {
    position: absolute;
    z-index: 1;
  }

  .locals {
    z-index: -1;

    h1 {
      color: $primary-yellow;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
    }
    p {
      color: $primary-white;
      font-family: 'Nunito Sans', sans-serif;
    }
  }
}
