.restaurants {
  position: relative;
}

.restaurants .grey-background {
  position: absolute;
}

.restaurants .restaurants-container {
  background-color: #292929;
  height: auto;
  padding: 30px;
}

.restaurants .restaurants-container .locals h1 {
  color: #f3aa00;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.restaurants .restaurants-container .locals p {
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}

.header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 96px auto;
      grid-template-columns: auto 96px auto;
}

.header-container .arrow-container {
  margin-top: 3px;
  cursor: pointer;
}

.restaurant-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-card img {
  height: 36px;
  cursor: pointer;
  z-index: 10;
}

.restaurant-card .restaurant-card-container {
  background-color: #333333;
  color: #fff;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 10;
  border-radius: 8px;
  width: 254px;
  height: 75px;
  padding: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.restaurant-card .restaurant-card-container h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.restaurant-card .restaurant-card-container p {
  font-family: 'Nunito Sans', sans-serif;
}

.restaurant-menu {
  background-color: #353535;
  height: auto;
  padding: 30px;
}

.restaurant-menu .restaurant-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
}

.restaurant-menu .restaurant-menu-container .desktop-add-button {
  cursor: pointer;
}

.restaurant-menu .restaurant-menu-container .restaurant-info h1 {
  color: #f3aa00;
}

.restaurant-menu .restaurant-menu-container .restaurant-info p {
  color: #fff;
}

.menu-card .menu-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-card .menu-card-container .menu-card-line {
  width: 10px;
  height: 10px;
  background-color: #f3aa00;
  height: 140px;
  border-radius: 20px 0px 0px 20px;
}

.menu-card .menu-card-container .menu-card-content {
  background-color: #464646;
  width: 292px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 0px 20px 20px 0px;
  height: 100px;
  color: #fff;
}

.menu-card .menu-card-container .menu-card-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.new-dish {
  height: 100vh;
  background-color: #464646;
}

.new-dish .new-dish-container {
  padding: 30px;
}

.new-dish .new-dish-container .new-dish-content h1 {
  color: #f3aa00;
}

.new-dish .new-dish-container .new-dish-content .name-input {
  padding-left: 10px;
  height: 20px;
  width: 246px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
}

.new-dish .new-dish-container .new-dish-content .label-price-input {
  background: white;
  width: 86px;
  height: 20px;
  padding: 5px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: text;
}

.new-dish .new-dish-container .new-dish-content .label-price-input p {
  color: black;
  padding-left: 2px;
}

.new-dish .new-dish-container .new-dish-content .price-input {
  border: none;
  border-radius: 2px;
  width: 60px;
  padding-left: 5px;
}

.new-dish .new-dish-container .new-dish-content input {
  border: none;
}

.new-dish .new-dish-container .new-dish-content textarea {
  border: none;
  border-radius: 3px;
  resize: none;
  padding: 5px;
  width: 246px;
}

.new-dish .new-dish-container .new-dish-content textarea:focus,
.new-dish .new-dish-container .new-dish-content input:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

.new-dish .new-dish-container .new-dish-content p {
  color: #fff;
}
/*# sourceMappingURL=index.css.map */